* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: #000;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  /* 1% of the default browser font size, assuming default is 16px */
}

p {
  font-size: 1.6rem;
  text-align: justify;
}

.logo {
  width: 10rem;
  margin-left: 1rem;
}

.navbar-nav .nav-item {
  margin-right: 1.5rem;
  /* Adjust the value as needed */
  font-size: 1.6rem;
}

.containers {
  height: 100vh;
}

.container1 {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 94vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%, 100% 50%, 200% 50%, 300% 50%;
  }

  50% {
    background-position: 100% 50%, 200% 50%, 300% 50%, 400% 50%;
  }

  100% {
    background-position: 0% 50%, 100% 50%, 200% 50%, 300% 50%;
  }
}


.fancy {
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.fancy::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: black;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: all 0.3s linear, width 0.3s linear;
}

.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color: white;
  background: black;
}

.fancy:hover::before {
  width: 0.9375rem;
  background: white;
}

.fancy:hover .text {
  color: white;
  padding-left: 1.5em;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}



.circle-img {
  margin-top: 10%;
  width: 50rem;
  height: 50rem;
  border-radius: 30% 70% 10% 90% / 60% 40% 20% 80%;
  background: linear-gradient(to right, #ffcccb, #aabbcc);
  overflow: hidden;
  text-align: center;
}

.blob {
  width: 35rem;
  height: 35rem;
  border: 2px solid black;
  animation: blobAnimation 10s ease-in-out infinite alternate;
}

@keyframes blobAnimation {
  0% {
    border-radius: 50%;
  }

  25% {
    border-radius: 10% 90% 80% 20% / 40% 30% 70% 60%;
  }

  50% {
    border-radius: 30% 20% 10% 90% / 70% 40% 20% 50%;
  }

  75% {
    border-radius: 20% 20% 50% 50% / 40% 60% 40% 70%;
  }

  100% {
    border-radius: 50%;
  }
}

.info-div {
  width: 70%;
  margin: auto;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 1.5rem;
}

/* arrow */
.arrow {
  height: 15rem;
  transform: rotate(70deg);
  width: 19rem;
  position: relative;
  right: 10rem;
  top: 20rem;
}

.text {
  font-size: 3rem;
}

.name-heading {
  font-size: 6.5rem;
}


/* connect button */
.cta {
  display: flex;
  padding: 11px 33px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  color: white;
  background: #e75a9c78;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
  border: none;
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #FBC638;
}

.cta .second {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover .second {
  transition: 0.5s;
  margin-right: 45px;
}

.span {
  transform: skewX(15deg)
}

.second {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover .three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: #FBC638;
  }

  100% {
    fill: white;
  }
}


/* icons */
.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}



.wrapper .icon {
  position: relative;
  border-radius: 50%;
  margin-right: 5rem;
  width: 7rem;
  height: 7rem;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #e0e0e0;
  box-shadow: 4px 4px 5px #5a5a5a,
    -3px -3px 4px #ffffff;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}



.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da0f269;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #fff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #635c5e;
  color: #fff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #05b4e4d9;
  color: #fff;
}


.about-image {
  width: 45rem;
  height: 50rem;
  z-index: 0;
  position: relative;
  border: 2px solid #ffffff;
}

.about-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #aabbcc;
  top: 20px; /* Adjust the top position to control the frame thickness */
  left: 20px; /* Adjust the left position to control the frame thickness */
  right: 10px; /* Adjust the right position to control the frame thickness */
  bottom: 10px; /* Adjust the bottom position to control the frame thickness */
  border: 2px solid #ffffff; /* Set the color and thickness of your frame */
  z-index: -1; /* Place the frame behind the content */
  background-image: url("./images/i1-removebg-preview.png");
}

.information {
  margin: 3rem;
  padding: 5rem;
  font-size: 1.4rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgba(255, 255, 255, 0.1);
  /* Semi-transparent white background */
  border-radius: 30px;
  backdrop-filter: blur(10px);
  /* Apply the blur effect for glassmorphism */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for depth */
  color: #fff;
  /* Text color */
}

/* grid */

.parent {
  margin-left: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 40px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.div3 {
  grid-area: 1 / 3 / 2 / 4;
}

.div4 {
  grid-area: 2 / 1 / 3 / 2;
}

.div5 {
  grid-area: 2 / 2 / 3 / 3;
}

.div6 {
  grid-area: 2 / 3 / 3 / 4;
}

.div7 {
  grid-area: 3 / 1 / 4 / 2;
}

.div8 {
  grid-area: 3 / 2 / 4 / 3;
}

.div9 {
  grid-area: 3 / 3 / 4 / 4;
}


/* info-cards */
.card-info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  background: #212121;
  border: 2px solid #313131;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #e8e8e8;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content .para {
  line-height: 1.5;
}

.content .btn {
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: #0974f1;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card1:hover {
  box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);
  border-color: #0974f1;
}

.card2:hover {
  box-shadow: 0 0 20px rgba(241, 148, 9, 0.8);
  border-color: #f19809;
}

.card3:hover {
  box-shadow: 0 0 20px rgba(175, 9, 241, 0.8);
  border-color: #c609f1;
}

.card4:hover {
  box-shadow: 0 0 20px rgba(9, 222, 241, 0.8);
  border-color: #09def1;
}

.card5:hover {
  box-shadow: 0 0 20px rgba(241, 9, 67, 0.8);
  border-color: #f1090d;
}

.card6:hover {
  box-shadow: 0 0 20px rgba(206, 241, 9, 0.66);
  border-color: #cef109;
}

.card7:hover {
  box-shadow: 0 0 20px rgba(156, 241, 9, 0.8);
  border-color: #30ed2a9e;
}

.card8:hover {
  box-shadow: 0 0 20px rgba(9, 241, 106, 0.8);
  border-color: #09f19cc1;
}

.card9:hover {
  box-shadow: 0 0 20px rgba(237, 9, 241, 0.8);
  border-color: #f109e2c1;
}

.content .btn:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #e8e8e8;
}

.content .btn:active {
  box-shadow: none;
}


/* tech icons */

.tech-icon>img {
  width: 8rem;
  height: 10rem;
}

/* footer */
/* footer section start */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background: #fff;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: poppins;
}

#footer {
  background: #f7f7f7;
  padding: 3rem;
  /* padding-top: 5rem; */
  padding-top: 7rem;
  padding-bottom: 80px;
  background-image: url(https://arena.km.ua/wp-content/uploads/3538533.jpg);
}

#footer2 {
  background: #f7f7f7;
  padding: 3rem;
  margin-top: 0px;
  /* padding-top: 5rem; */
  padding-top: 7rem;
  padding-bottom: 80px;
}

.logo-footer {
  max-width: 300px;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.social-links h2 {
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

.social-links img {
  padding-bottom: 25px;
}

.social-icons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #777777;
}

.social-icons a {
  color: #777777;
}

.social-icons a:hover {
  color: #000;
}

.social-icons a i {
  box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
  padding: 0.4rem 1rem 0.4rem 1rem;
  border-radius: 3px;
  color: #82074a;
  font-size: 16px;
  margin-right: 12px;
}

li {
  list-style: none;
}

.useful-link h2 {
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

.useful-link img {
  padding-bottom: 15px;
}

.use-links {
  line-height: 32px;
}

.use-links li i {
  font-size: 14px;
  padding-right: 8px;
  color: #898989;
}

.use-links li a {
  color: #303030;
  font-size: 15px;
  font-weight: 500;
  color: #777777;
}

.use-links li a:hover {
  color: #000;
}

.address h2 {
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

.address img {
  padding-bottom: 15px;
}

.address-links li a {
  color: #303030;
  font-size: 15px;
  font-weight: 500;
  color: #777777;

}

.address-links li i {
  font-size: 16px;
  padding-right: 8px;
  color: #82074a;

}

.address-links li i:nth-child(1) {
  padding-top: 9px;
}

.address-links .address1 {
  font-weight: 500;
  font-size: 15px;
  display: flex;
}

.address-links {
  line-height: 32px;
  color: #777777;
}

.copy-right-sec {
  padding: 1.8rem;
  background: #82074a;
  color: #fff;
  text-align: center;
}

.copy-right-sec a {
  color: #fcd462;
  font-weight: 500;
}

a {
  text-decoration: none;
}

/* footer section end */

/* education section */
.education {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 1.5rem;
}

.edu1 {
  grid-area: 1 / 1 / 2 / 2;
  border-left: 5px solid yellow;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-radius:1rem ;
  background: rgb(173, 176, 187);
  background: radial-gradient(circle, rgba(173, 176, 187, 1) 0%, rgba(108, 102, 103, 0.6699929971988796) 100%);
}

.edu2 {
  grid-area: 2 / 1 / 3 / 2;
  border-left: 5px solid yellow;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-radius:1rem ;
  background: rgb(173, 176, 187);
  background: radial-gradient(circle, rgba(173, 176, 187, 1) 0%, rgba(108, 102, 103, 0.6699929971988796) 100%);
}

.edu3 {
  grid-area: 3 / 1 / 4 / 2;
  border-left: 5px solid yellow;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 1rem;
  background: rgb(173, 176, 187);
  background: radial-gradient(circle, rgba(173, 176, 187, 1) 0%, rgba(108, 102, 103, 0.6699929971988796) 100%);
}

.button-icon {
  display: flex;
  border: 3px #fff solid;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.icon {
  background-color: #fff;
  padding: 10px 10px 5px 10px;
}

.icon svg {
  width: 25px;
  height: 25px;
}

.cube {
  transition: all 0.4s;
  transform-style: preserve-3d;
  width: 200px;
  height: 20px;
}

.button-icon:hover {
  border-color: #ff98a2;
}

.button-icon:hover .cube {
  transform: rotateX(90deg);
}

.side {
  position: absolute;
  height: 47px;
  width: 200px;
  display: flex;
  font-size: 0.8em;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.top {
  background: #ff98a2;
  color: #fff;
  transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.front {
  background: #222229;
  color: #fff;
  transform: translate3d(0, 0, 1em);
}



/* ***************form edit *************** */
.contact-div{
  border: 1px solid black;
  background-color: rgba(128, 128, 128, 0.359);
  border-radius: 1rem;
}
form{
  padding: 3rem;
}
.form-btn{
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 8px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.form-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-btn:hover {
  background-color: #45a049;
}